.container-result {
    width : 90%;
    height : auto;
    margin :50px auto;
}
.results {
    display : flex;
    flex-wrap : wrap;
    justify-content: space-around;
   
}

.result {
    width : 280px;
    height :500px;
    margin : 5px;
    text-align: center;
    margin : auto;
    cursor : pointer;
    overflow : hidden;
    
    img {
        width : 280px;
        transition : 0.5s ease-in-out;
        overflow : hidden;


        &:hover {
            transform : scale(1.1)
        }
    }
}

.container-error {
    background : #e74c3c;
    color : #fff;
    padding : 15px;
}